<section class="recipe-container">
<h2 class="text-center m-5 text-secondary">Public Recipes</h2>
<div>
 <% @recipes.each do |recipe| %>
   <div class= "recipe">
   <%= link_to recipe_path(recipe.id), remote: :true do %>
      <h2><%= recipe.name%><br>by<br><%= recipe.user[:name] %></h2> 
      <%end%>
      <h3>Total food Items: <%=Recipe.items(recipe.id)%></h3>
      <h3>Total Price: $<%=Recipe.total(recipe.id)%></h3>
  </div>
  <% end %>
  </div>
</div>
</section>
