<section class="">
<h2 class="text-center m-5 text-secondary">Public Recipes</h2>
<div>
 <% @recipes.each do |recipe| %>
   <div class= "recipe2">
     <%= link_to recipe_path(recipe.id), remote: :true do %>
     <div class=recipe2-name>
       <h2><%= recipe.name%></h2>
        <span><h4>by</h4></span>
       <h2><%= recipe.user[:name] %></h2> 
     </div>
     <% end %>
     <div class="recipe2-flex">
      <h3>Total food Items: <%=Recipe.items(recipe.id)%></h3>
      <h3>Total Price: $<%=Recipe.total(recipe.id)%></h3>
      </div>
  </div>
  <% end %>
  </div>
</div>
</section>
