<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img class = "img-thumbnail" src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVjaXBlc3xlbnwwfHwwfHw%3D&w=1000&q=80" alt="image" />
				<h2>Add new Recipe</h2>
				<h4>You shoud love to try it!</h4>
			</div>
		</div>
		<div class="col-md-9">
         <%= form_with model: @recipe do |f| %>
			<div class="contact-form">
				<div class="form-group">
				  <%= f.label :name, class: "control-label col-sm-2" %> 
				<div class="col-sm-10">          
				  <%= f.text_field :name, class: "form-control", placeholder: "Enter Name"%>
				  </div>
				</div>
				<div class="form-group">
				  <%= f.label :cooking_time,class: "control-label col-sm-2" %>
                <div class="col-sm-10">          
				  <%= f.text_field :cooking_time, class: "form-control"%>
				  </div>
				</div>
				<div class="form-group">
			      <%= f.label :preparation_time, class: "control-label col-sm-2" %>
				<div class="col-sm-10">
				  <%= f.text_field :preparation_time, class: "form-control"%>
				</div>
				</div>
                <div>
                <%= f.check_box :public%>
                <%= f.label :public %>
                </div>
				<div class="form-group">
				  <%= f.label :description, class: "control-label col-sm-2" %>
				  <div class="col-sm-10">
					<%= f.text_area :description, class: "form-control", rows: "5" %>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-dark">Add Recipe</button>
				  </div>
          <% end %>
				</div>
			</div>
		</div>
	</div>
</div>


